.contenedorCard {
   background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 6rem;
    height: 22rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-img{
    width: 120px;
    height: 180px;
    object-fit: contain;
}