@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.contenedorCard {
   background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 6rem;
    height: 22rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.card-img{
    width: 120px;
    height: 180px;
    object-fit: contain;
}

.card-body{
display: flex;
flex-direction: column;
align-items: center;


}
/* .cardtitle {
    font-family: 'Roboto', sans-serif;
    padding: auto;
    margin: 2rem;
} */