body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* <div className=" card container row-cols-3 row-cols-md-2 g-4 w-25 p-3 m-2"> 
            <div className= "" >
                <div>
            <header className="Header">
                <h2 className="ItemHeader"> {title} </h2>
            </header>

            <picture className="w-200px h-200px">
                <img src={image} alt={title} className="img-fluid" />
            </picture>

            <section>
                <p className="Info">
                    Precio: ${price}
                </p>
                <p className="Info">
                    Stock Disponible: {stock}
                </p>
            </section>

            <footer className="ItemFooter">

                <Link to={`/item/${id}`}  class= "btn btn-primary" > Ver Detalles </Link>

            </footer>
                </div>
            </div>
        </div>  */
